

nav {
  ul {
    list-style: none;
    background-color: $color-principal;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  li { margin: 0 15px; }

  a {
    color: $color-blanco;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;

    &:hover {
      background-color: $color-hover;
      border-radius: 5px;
    }
  }
}

/* responsive nav */
@media (max-width: 767px) {
  nav {
    ul { flex-direction: column; padding: 0; }
    li { margin: 10px 0; }
  }
}
