// Colores
$color-principal: #007f4e;
$color-secundario: #f0fff0;
$color-texto: #222;
$color-hover: #00965e;
$color-blanco: #fff;
$color-perfumeria: #f8bbd0;
$color-genericos: #bbdefb;
$color-columnas: #eafaf0;

// Tipografía
$fuente-principal: 'Segoe UI', Arial, sans-serif;

// Tamaños de texto
$font-size-base: 18px;
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 22px;
